<!DOCTYPE html>
<html ng-app="MenuCategoriesApp">
<head>
    <meta charset="utf-8">
    <title>Menu Categories</title>
    <script type="text/javascript" src="dist/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<h1>Menu categories</h1>
<div ng-controller="MenuCategoryController as menu">
    <ol>
        <li ng-repeat="category in menu.categories">
            (<a href="" ng-click="menu.getMenuItems(category.short_name)">{{category.short_name}}</a>) units of {{category.name}}
        </li>
    </ol>
</div>
</body>
</html>
