<!DOCTYPE html>
<html ng-app="ShoppingListApp">
    <head>
        <meta charset="utf-8">
        <title>Custom Services</title>
        <script type="text/javascript" src="dist/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <h1>Custom Services</h1>
            <div ng-controller="CartController as itemAdder">
                <input type="text" placeholder="Enter Item Name" ng-model="itemAdder.itemName"/>
                <input type="number" placeholder="Enter Item Quantity" ng-model="itemAdder.itemQuantity"/>
                <button ng-click="itemAdder.addItem()">Add Item To List</button>
            </div>
            <div ng-controller="CartDisplayController as showCart">
                <ol>
                    <li ng-repeat="item in showCart.items">
                        {{item.quantity}} units of {{item.name}}
                        <button ng-click="showCart.removeItem($index)">Remove Item</button>
                    </li>
                </ol>
            </div>
    </body>
</html>
